<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
  <%= render partial: 'comments/form', locals: { commentable: @report, comment: @comment } %>
  <%= render partial: 'comments/comments', locals: { commentable: @report, comments: @comments } %>

</div>

<div class="page-nav">
  <%= link_to t('views.common.edit', name: Report.model_name.human), edit_report_path(@report) %> |
  <%= link_to t('views.common.back', name: Report.model_name.human), reports_path %>

  <%= button_to t('views.common.destroy', name: Report.model_name.human), @report, method: :delete %>
</div>
