<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <% if user_signed_in? %>
      ログイン名 <strong><%= current_user.email %></strong>
      <%= link_to User.human_attribute_name(:profile), user_path(current_user) %>
      <%= link_to t('views.common.title_index', name: User.model_name.human), users_path %>
      <%= link_to t('devise.registrations.edit.title', resource: User.model_name.human), edit_user_registration_path %>
      <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
